<div class="omnisend-landing-page">
  <div class="omnisend-default-margins">
    <div class="omnisend-max-window-width">
      <div class="omnisend-landing-h1">
        Convert website visitors into subscribers and send newsletters to them -
        all with Omnisend
      </div>
      <div class="omnisend-spacing-mv-8">
        <div class="omnisend-text-body">
          Beat the high cost of getting website traffic with Omnisend. Turn
          visitors into subscribers and keep the conversation going with email
          newsletters and targeted marketing campaigns.
        </div>
      </div>
      <div class="omnisend-spacing-mb-30">
        <div class="omnisend-spacing-mb-25">
          <button class="omnisend-button-green">Connect Omnisend</button>
        </div>
      </div>
      <div class="omnisend-spacing-mb-2">
        <div class="omnisend-landing-text-microcopy">FEATURES</div>
      </div>
      <div class="omnisend-spacing-mb-8">
        <div class="omnisend-landing-h2">What if email marketing was easy?</div>
      </div>
      <div class="omnisend-text-body">
        Make your email marketing easier with Omnisend — collect and keep
        visitors with less stress. Send personalized emails.
      </div>
    </div>

    <div class="omnisend-spacing-mv-20">
      <img
        class="omnisend-features-images"
        src="<?php echo plugins_url( 'images/features-1.svg', __FILE__ ); ?>"
        alt="Omnisend features"
      />
    </div>
    <div class="omnisend-spacing-mb-30">
      <img
        class="omnisend-features-images"
        src="<?php echo plugins_url( 'images/features-2.svg', __FILE__ ); ?>"
        alt="Omnisend features"
      />
    </div>
  </div>
  <img
    class="omnisend-plugins-list-image"
    src="<?php echo plugins_url( 'images/plugin-list.svg', __FILE__ ); ?>"
    alt="omnisend-plugins-list"
  />
  <div class="omnisend-spacing-mv-20">
    <div class="omnisend-default-margins">
      <img
        class="omnisend-plugins-list-image"
        src="<?php echo plugins_url( 'images/support-aword.svg', __FILE__ ); ?>"
        alt="omnisend-plugins-list"
      />
    </div>
  </div>
</div>
