<div>
    <div>
        <h3>Connection</h3>
        <p>Enter Omnisend API key (you can generate <a href="https://app.omnisend.com/integrations/api-keys" target="_blank">here</a>)</p>
        <form method="post">
            <?php wp_nonce_field('connect'); ?>
            <input type="hidden" name="action" value="connect">
            <input type="text" name="api_key" class="regular-text">
            <input type="submit" value="Connect to Omnisend" class="button button-primary input-button">
        </form>
    </div>
</div>
