name: Release plugin
on:
  create:
jobs:
  svn:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    name: Release new tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: WordPress Plugin Deploy
        uses: omnisend/action-wordpress-plugin-deploy@v1.0.3
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: omnisend
          BUILD_DIR: omnisend
